{% extends 'base.html' %}

{% block title %}Sign Out Success{% endblock %}

{% block content %}
<div>
    <div class="card mx-3">
        <div class="card-header">
            Signed Up Successfully
        </div>
        <div class="card-body col-12 row">
            <div class="col-1"></div>
            <div class="col-10">
                Hi {{user_name}}, 
                You have been signed up successfully. click <a href="{% url 'sign-in' %}">here</a> to sign in to you
                account.
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>
{% endblock %}