{% extends 'base.html' %}

{% block title %}Add Task{% endblock %}

{% block content %}
<div>
    <form method="post" action="{% url 'add-task' %}">
        {% csrf_token %}
        <div class="card mx-3">
            <div class="card-header">
                Add New Task
            </div>
            <div class="card-body col-12 row">
                <div class="col-1"></div>

                <!-- <div class="col-10">
                    <div class="row mb-3">
                        <label for="{{ form.task_priority.id_for_label }}" class="col-sm-2 col-form-label">{{ form.task_priority.label }}:</label>
                        <div class="col-sm-10">
                            {{ form.task_priority }}
                            {{ form.task_priority.errors }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Task</button>
                </div> -->


                <div class="col-10">
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Add Task</button>
                </div>

                <!-- 
                <div class="col-10">
                    <div class="row mb-3">
                        <label for="id_task_title" class="col-sm-2 col-form-label">Task Title:</label>
                        <div class="col-sm-10">
                            <input name="task_title" type="text" maxlength="255" class="form-control" id="id_task_title"
                                required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_task_desc" class="col-sm-2 col-form-label">Task Description:</label>
                        <div class="col-sm-10">
                            <textarea name="task_desc" class="form-control" required="" id="id_task_desc"></textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_task_priority" class="col-sm-2 col-form-label">Task Priority:</label>
                        <div class="col-sm-10">
                            <select name="task_priority" class="form-select" aria-label="Default select example"
                                id="id_task_priority" required>
                                <option value="">Select</option>
                                <option value="H">High</option>
                                <option value="M">Medium</option>
                                <option value="L">Low</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_task_status" class="col-sm-2 col-form-label">Task Status:</label>
                        <div class="col-sm-10">
                            <select name="task_status" class="form-select" aria-label="Default select example"
                                id="id_task_status" required>
                                <option value="">Select</option>
                                <option value="P">Pending</option>
                                <option value="I">In Progress</option>
                                <option value="C">Completed</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Task</button>
                </div>
                 -->
                <div class="col-1"></div>
            </div>
        </div>
    </form>
</div>
{% endblock %}