{% extends 'base.html' %}

{% block title %}Edit Task{% endblock %}

{% block content %}
<div>
    <div class="card mx-3">
        <div class="card-header">
            Edit The Task
        </div>
        <div class="card-body col-12 row">
            <div class="col-1"></div>
            <div class="col-10">
                <form method="post" action="{% url 'edit-task' task_id=task.task_id %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Update Task</button>
                </form>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>
{% endblock %}