{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div>
    <div class="card mx-3">
        <div class="card-header">
            Task Management Application
        </div>
        <div class="card-body col-12 row">
            <div class="col-1"></div>
            <div class="col-10">
                {% if user.is_authenticated %}
                <p>
                    Hi {{user.username}},
                </p>
                {% endif %}
                <p>
                    Welcome to Task Management Application. Here You Can Manage Your Tasks.
                </p>
                {% if not user.is_authenticated %}
                <div>
                    <p>
                        To Registe an Account, click <a href="{% url 'sign-up' %}">here</a>.
                    </p>
                    <p>
                        If you already have an account, click <a href="{% url 'sign-in' %}">here</a> to sign in.
                    </p>
                </div>
                {% endif %}
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>
{% endblock %}