{% extends 'base.html' %}
{% load custom_filters %}

{% block title %}View Tasks{% endblock %}

{% block style_block %}
<style>
    form p {
        margin: 0;
    }
    form div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>
{% endblock %}

{% block content %}
<div>
    <div class="card mx-3">
        <div class="card-header">
            List of Tasks
        </div>
        <div class="card-body col-12 row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="mb-3">
                    <form action="{% url 'view-tasks' %}" method="post" style="display: flex; justify-content: center;">
                        {% csrf_token %}
                        <div class="me-3">
                            {{ form.as_p }}
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
                {% if tasks|length == 0 %}
                <div>
                    There is No Task to Show. Click <a href="{% url 'add-task' %}">here</a> to add a task.
                </div>
                {% else %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">S.No</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Priority</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{ task.task_title }}</td>
                            <td class="text-truncate" style="max-width: 5rem;">
                                {{ task.task_desc }}
                            </td>
                            <td>{{ priority_dict|get_data:task.task_priority }}</td>
                            <td>{{ status_dict|get_data:task.task_status }}</td>
                            <td>
                                <div style="display: flex; flex-direction: row; justify-content: space-around;">
                                    <div>
                                        <a style="text-decoration: none;"
                                            href="{% url 'view-task' task_id=task.task_id %}" title="View">👁️</a>
                                    </div>
                                    <div>
                                        <a style="text-decoration: none;"
                                            href="{% url 'edit-task' task_id=task.task_id %}" title="Edit">🖊️</a>
                                    </div>
                                    <div>
                                        <a style="text-decoration: none;"
                                            href="{% url 'delete-task' task_id=task.task_id %}" title="Delete">🗑️</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
</div>
{% endblock %}